.top_rows {
	margin-top: 65px;
}

.my_face {
	width: 45%;
	height: auto; 
	float: left;
	border-radius: 5px;
	margin: 0px 13px 2px 0px;
	box-shadow: 2px 2px 2px grey;
}

.about_me {
	/* margin-right: 20px; */
	margin-top: 20px;
}

.portfolio_section .underline, #experience .underline {
	text-align: center;
}

#experience .container {
	background-color: #ccebff;
	padding-top: 10px;
	border-radius: 8px;
}

.portfolio_section {
	margin-top: 25px;
}

#portfolio:before { 
  display: block; 
  content: " "; 
  margin-top: -40px; 
  height: 40px; 
  visibility: hidden; 
}

#experience:before { 
	display: block; 
	content: " "; 
	margin-top: -60px; 
	height: 60px; 
	visibility: hidden; 
}

#about:before { 
	display: block; 
	content: " "; 
	margin-top: -150px; 
	height: 150px; 
	visibility: hidden; 
}

footer {
	padding: 5px;
}

#experience img {
	margin: 5px;
	height: 64px;
	display: inline-block;
}

#experience .container {
	padding: 20px;
	text-align: center;
}

#experience {
	margin-top: 20px;
}